.newUser {
  flex: 4;
}
.newUserForm {
  display: flex;
  flex-wrap: wrap;
}
.newUserFormItem {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-right: 20px;
}
.newUserFormItem > label {
  margin-bottom: 5px;
  color: rgb(158, 154, 154);
  font-weight: 600;
}
.newUserFormItem > input {
  padding: 10px;
  height: 20px;
  border: 1px gray solid;
  border-radius: 5px;
}
.newUserGender > input {
  margin-top: 15px;
}
.newUserGender > label {
  margin: 10px;
  color: #555;
}
.newUserSelect {
  height: 40px;
  border-radius: 5px;
}
.newUserBtn {
  width: 200px;
  border: none;
  border-radius: 10px;
  background-color: darkblue;
  color: white;
  padding: 7px 10px;
  font-weight: 600;
  cursor: pointer;
  height: 40px;
  margin-top: 40px;
}
