.sidebar {
  flex: 1;
  height: calc(100vh - 50px);
  background-color: rgb(250, 248, 248);
  position: sticky;
  top: 50px;
}
.sidebarWrapper {
  padding: 20px;
  color: #555;
}
.sidebarMenu {
  margin-bottom: 10px;
}
.sidebarTitle {
  font-size: 20px;
  color: rgb(174, 170, 170);
}
.sidebarList {
  list-style: none;
  padding: 5px;
}
.sidebarListItem {
  display: flex;
  padding: 5px;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
}
.sidebarListItem:hover,
.sidebarListItem .active {
  background-color: rgb(152, 146, 146);
}
.sidebarIcon {
  margin-right: 5px;
  font-size: 20px !important;
}
